<nav class="navbar navbar-default" >
    <div class="container-fluid" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">REAL ESTATE</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('profile') }}"> Профиль</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Объявления<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('find_advert') }}">Поиск объявления</a></li>
                        <li><a href="{{ url('create_advert') }}">Подать объявление</a></li>
                        <li><a href="{{ url('list_advert') }}">Список объявлений</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Клиенты<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('find_client') }}">Поиск клиента</a></li>
                        <li><a href="{{ url('create_client') }}">Занести клиента</a></li>
                        <li><a href="{{ url('list_client') }}">Список клиентов</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Пользователи<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('list_user') }}">Список пользователей</a></li>
                        <li><a href="{{ url('create_user') }}">Создать пользователя</a></li>

                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><img src="{{ asset('img/scarlett_square.jpg') }}" class="img-circle" style="width:40px; margin-top:5px"></li>
                <li><a href="{{ url('profile') }}" >{{ username }}</a></li>
                <li><a href="{{ url('logout') }}" class="glyphicon glyphicon-log-out"></a></li>
            </ul>
        </div>
    </div>
</nav>