<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Real estate agency</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
    <link rel="stylesheet" href="{{  asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{  asset('css/jquery-ui.css') }}">
    <link href="{{ asset('css/sidebar.css') }}" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-md-2 col-md-offset-5" style="margin-top: 200px">
        {% block content %}{% endblock %}
    </div>
</div>

<script src="{{  asset('js/jquery-2.1.4.min.js') }}"></script>
<script src="{{  asset('js/jquery-ui.js') }}"></script>
<script src="{{  asset('js/bootstrap.min.js') }}"></script>
<script src="{{  asset('js/common.js') }}"></script>
</body>
</html>
