{% extends "MrsuhRealEstateBundle::layout.html.twig" %}
{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"><label>Статус клиента</label></div>
        <div class="col-md-4">{{ form_widget(form.status, {'attr': {'class': 'form-control' }}) }}</div>
    </div>
    <br>
    <a href="##"><b>Данные клиента</b></a>
    <hr>
    <div class="row">
        <div class="col-md-2"><label>ФИО 1*</label></div>
        <div class="col-md-4">{{ form_widget(form.name1, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2"><label>Номер телефона 1*</label></div>
        <div class="col-md-4">{{ form_widget(form.phone1, {'attr': {'class': 'form-control' }}) }}</div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-2"><label>ФИО 2</label></div>
        <div class="col-md-4">{{ form_widget(form.name2, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2"><label>Номер телефона 2</label></div>
        <div class="col-md-4">{{ form_widget(form.phone2, {'attr': {'class': 'form-control' }}) }}</div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-2"><label>ФИО 3</label></div>
        <div class="col-md-4">{{ form_widget(form.name3, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2"><label>Номер телефона 3</label></div>
        <div class="col-md-4">{{ form_widget(form.phone3, {'attr': {'class': 'form-control' }}) }}</div>
    </div>
    <br>
    <a href="##"><b>Характеристики</b></a>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6"><label>Тип недвижимости</label></div>
                <div class="col-md-6">{{ form_widget(form.object_type, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6"><label>Ипотека</label></div>
                <div class="col-md-6">{{ form_widget(form.mortgage, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6"><label>Дата рождения клиента</label></div>
                <div class="col-md-6">{{ form_widget(form.birth_day, {'attr': {'class': 'form-control', 'readonly': 'readonly' }}) }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6"><label>Горячий клиент</label></div>
                <div class="col-md-6">{{ form_widget(form.hot, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4"><label>Город</label></div>
                <div class="col-md-8">{{ form_widget(form.city, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-12"><label>Район города</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="editClient_region_city" style="display: none;"></div>
                    {% for id,city in regionsCity %}
                        <div class="region_city" id="region_city_{{ id }}"
                             {% if form.city.vars.value != id %}style="display: none;"{% endif %}>
                            {% for key,name in city %}
                                <input type="checkbox" id="editClient_region_city_{{ key }}"
                                       name="editClient[region_city][{{ key }}]"
                                       value={{ key }} {% if key in clientRegionsCity %} checked {% endif %}> <label
                                    for="editClient_region_city_{{ key }}">{{ name }}</label><br>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="col-md-5">
            <div class="row">
                <div class="col-md-4"><label>Цена</label></div>
                <div class="col-md-4">{{ form_widget(form.price_from, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-md-4">{{ form_widget(form.price_to, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4"><label>Количество комнат</label></div>
                <div class="col-md-4">{{ form_widget(form.room_from, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-md-4">{{ form_widget(form.room_to, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4"><label>Общая площадь</label></div>
                <div class="col-md-4">{{ form_widget(form.common_area_from, {'attr': {'class': 'form-control' }}) }}
                </div>
                <div class="col-md-4">{{ form_widget(form.common_area_to, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4"><label>Жилая площадь</label></div>
                <div class="col-md-4">{{ form_widget(form.live_area_from, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-md-4">{{ form_widget(form.live_area_to, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4"><label>Площадь кухни</label></div>
                <div class="col-md-4">{{ form_widget(form.kitchen_area_from, {'attr': {'class': 'form-control' }}) }}
                </div>
                <div class="col-md-4">{{ form_widget(form.kitchen_area_to, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4"><label>Земельный участок</label></div>
                <div class="col-md-4">{{ form_widget(form.section_area_from, {'attr': {'class': 'form-control' }}) }}
                </div>
                <div class="col-md-4">{{ form_widget(form.section_area_to, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4"><label>Этаж</label></div>
                <div class="col-md-4">{{ form_widget(form.floor_from, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-md-4">{{ form_widget(form.floor_to, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4"><label>Этажность дома</label></div>
                <div class="col-md-4">{{ form_widget(form.floors_from, {'attr': {'class': 'form-control' }}) }}</div>
                <div class="col-md-4">{{ form_widget(form.floors_to, {'attr': {'class': 'form-control' }}) }}</div>
            </div>
        </div>
    </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-4"><label>Комментарии</label></div>
            <div class="col-md-8">{{ form_widget(form.comment, {'attr': {'class': 'form-control' }}) }}</div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-4"><label>Просмотренные объявления</label></div>
            <div class="col-md-8">{{ form_widget(form.reviewed_adverts, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                {% if reviewedAdverts is not empty %}
                    <table class="table table-bordered">
                        <tr class="text-center active">
                            <td>#</td>
                            <td>Дата создания</td>
                            <td>Специалист</td>
                        </tr>

                        {% for advert in  reviewedAdverts %}
                            <tr class="text-center">
                                <td><a href="{{ url('advert', {'id': advert.id}) }}">{{ advert.id }}</a></td>
                                <td>{% if null != advert.createTime %}{{ advert.createTime|date("d.m.Y") }}{% endif %}</td>
                                <td>{{ advert.user.lastName }} {{ advert.user.firstName }} {{ advert.user.middleName }}</td>
                            </tr>
                        {% endfor %}

                    </table>
                {% endif %}
            </div>
        </div>
    <br>
    <hr>

    <div>
        <div class="row">
            <div class="col-md-3"><label>Пользователь</label></div>
            <div class="col-md-3"><label>Время создания</label></div>
            <div class="col-md-3"><label>Время обновления</label></div>
            <div class="col-md-3"><label>Время показа</label></div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-3">{{ client.user.lastName }} {{ client.user.firstName }} {{ client.user.middleName }}</div>
            <div class="col-md-3"> {% if null != client.createTime %}{{ client.createTime|date("d.m.Y") }}{% endif %}</div>
            <div class="col-md-3"> {% if null != client.updateTime %}{{ client.updateTime|date("d.m.Y") }}{% endif %}</div>
            <div class="col-md-3"> {% if null != client.showTime %}{{ client.showTime|date("d.m.Y") }}{% endif %}</div>
        </div>
    </div>
    <hr>
    <br>

    <button type="button" class="btn btn-success btn-width" id="submit_edit_client">Cохранить</button>
    <a href="{{ url('find_advert_by_client', {'clientId': client.id}) }}" class="btn btn-primary btn-width">Поиск поклиенту</a>

    {{ form_widget(form.submit, {'attr': {'hidden': 'true' }} ) }}
    {{ form_end(form) }}

{% endblock %}

{% block js %}
    <script>
        $(function () {
            var birth_date = $('#editClient_birth_day');
            birth_date.datepicker({dateFormat: 'dd.mm.yy'});

            var region_city = $('#editClient_region_city');

            var select_city = $('#editClient_city');
            select_city.change(function () {
                set_region_city();
            });

            var submit = $('#editClient_submit');
            var submit_button = $('#submit_edit_client');

            var set_region_city = function () {
                $('.region_city').hide();
                $('#region_city_' + select_city.val()).show();
            };

            set_region_city();

            submit_button.click(function () {
                region_city.clone($('.region_city:visible input'));

                submit.click();
            });

            $('#editClient_price_from').on('keyup', function(){
                myPriceFormat($(this));
            });

            $('#editClient_price_to').on('keyup', function(){
                myPriceFormat($(this));
            });

            myPriceFormat($('#editClient_price_from'));
            myPriceFormat($('#editClient_price_to'));
        });
    </script>
{% endblock %}