{% extends "MrsuhRealEstateBundle::layout.html.twig" %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2">{{ form_widget(form.phone, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2">{{ form_widget(form.status, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2">{{ form_widget(form.user, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2">{{ form_widget(form.pagination_items_on_page, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2">{{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-width' }} ) }}</div>
    </div>
    <br>
    <hr>

    {{ form_end(form) }}

    {% include "MrsuhRealEstateBundle::Client/list.html.twig" %}

{% endblock %}

{% block js %}
    <script>
        $(function(){
            var order_type_asc = '{{ constant('Mrsuh\\RealEstateBundle\\C::ORDER_TYPE_ASC') }}';
            var order_type_desc = '{{ constant('Mrsuh\\RealEstateBundle\\C::ORDER_TYPE_DESC') }}';

            var order_type = $('#findClient_order_type');
            var order_field = $('#findClient_order_field');

            var search_submit = $('#findClient_submit');

            var order_field_id = $('#order_field_id');
            var order_field_name = $('#order_field_name');
            var order_field_phone = $('#order_field_phone');
            var order_field_create_time = $('#order_field_create_time');
            var order_field_update_time = $('#order_field_update_time');
            var order_field_hot = $('#order_field_hot');
            var order_field_mortgage = $('#order_field_mortgage');
            var order_field_status = $('#order_field_status');
            var order_field_user = $('#order_field_user');

            var setOrderType = function(field){
                if(field === order_field.val()) {
                    if(order_type_asc === order_type.val()){
                        order_type.val(order_type_desc);
                    } else {
                        order_type.val(order_type_asc);
                    }
                } else {
                    order_type.val(order_type_asc);
                }
            };

            var orderFields = function()
            {
                order_field_id.click(function(){
                    setOrderType('id');
                    order_field.val('id');
                    search_submit.click();

                });

                order_field_name.click(function(){
                    setOrderType('name');
                    order_field.val('name');
                    search_submit.click();

                });

                order_field_phone.click(function(){
                    setOrderType('phone');
                    order_field.val('phone');
                    search_submit.click();

                });

                order_field_create_time.click(function(){
                    setOrderType('create_time');
                    order_field.val('create_time');
                    search_submit.click();

                });

                order_field_update_time.click(function(){
                    setOrderType('update_time');
                    order_field.val('update_time');
                    search_submit.click();

                });

                order_field_hot.click(function(){
                    setOrderType('hot');
                    order_field.val('hot');
                    search_submit.click();

                });

                order_field_mortgage.click(function(){
                    setOrderType('mortgage');
                    order_field.val('mortgage');
                    search_submit.click();

                });

                order_field_status.click(function(){
                    setOrderType('status');
                    order_field.val('status');
                    search_submit.click();

                });

                order_field_user.click(function(){
                    setOrderType('id');
                    order_field.val('id');
                    search_submit.click();

                });
            };

            orderFields();

            var current_page = 1;
            var max_page = 1;

            {% if pagination %}
            current_page = {{ pagination.getPaginationData.current }};
            max_page = {{ pagination.getPaginationData.pageCount }};
            {% endif %}


            var pagination_start = $('#pagination_start');
            var pagination_previous = $('#pagination_previous');
            var pagination_next = $('#pagination_next');
            var pagination_fin = $('#pagination_fin');


            var pagination_page = $('#findClient_pagination_page');
            var pagination_items_on_page = $('#findClient_pagination_items_on_page');

            pagination_items_on_page.change(function(){
                pagination_page.val(1);
                search_submit.click();
            });

            var pagination = function ()
            {
                pagination_next.click(function(){
                    var page = max_page;
                    if(++current_page <= max_page) {
                        page = current_page;
                    }

                    pagination_page.val(page);

                    search_submit.click();

                });

                pagination_previous.click(function(){
                    var page = 1;
                    if(--current_page >= 1) {
                        page = current_page;
                    }

                    pagination_page.val(page);

                    search_submit.click();

                });

                pagination_start.click(function(){
                    pagination_page.val(1);

                    search_submit.click();

                });

                pagination_fin.click(function(){
                    pagination_page.val(max_page);

                    search_submit.click();

                });

            };

            pagination();

        });
    </script>
{% endblock %}