{% extends "MrsuhRealEstateBundle::layout.html.twig" %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2">{{ form_widget(form.phone, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2">{{ form_widget(form.status, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2">{{ form_widget(form.user, {'attr': {'class': 'form-control' }}) }}</div>
        <div class="col-md-2">{{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-width' }} ) }}</div>
    </div>
    <br>
    <hr>

    <div class="row">
        {% if pagination and pagination.items is not empty %}
        <div class="col-md-9"><b>Всего результатов:</b> {{ pagination.getTotalItemCount }}</div>
            <div class="col-md-2"><b class="pull-right">Показывать на странице:</b></div>
        <div class="col-md-1">{{ form_widget(form.pagination_items_on_page, {'attr': {'class': 'form-control' }}) }}</div>
        {% else %}
            <div class="col-md-1">{{ form_widget(form.pagination_items_on_page, {'attr': {'class': 'form-control', 'style':'display: none' }}) }}</div>
        {% endif %}
    </div>
    <br>

    {{ form_end(form) }}

    {% include "MrsuhRealEstateBundle::Client/list.html.twig" %}
    {% include "MrsuhRealEstateBundle::Default/pagination.html.twig" %}

{% endblock %}

{% block js %}
    <script>
        $(function(){

            var submit = function()
            {
                $('[name="findClient"]').submit();
            };

            order('findClient', [
                'id',
                'phone',
                'name',
                'create_time',
                'update_time',
                'hot',
                'mortgage',
                'status',
                'user'
            ], submit);

            var current_page = 1;
            var max_page = 1;

            {% if pagination %}
            current_page = {{ pagination.getPaginationData.current }};
            max_page = {{ pagination.getPaginationData.pageCount }};
            {% endif %}

            pagination('findClient', current_page, max_page, submit);

        });
    </script>
{% endblock %}