{% extends "MrsuhRealEstateBundle::layout.html.twig" %}
{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"><label>Статус объявления</label></div>
        <div class="col-md-4">{{ form_widget(form.advert_status, {'attr': {'class': 'form-control' }}) }}</div>

        {% if self %}
        <div class="col-md-2"><label>Перенести объявление</label></div>
        <div class="col-md-4">{{ form_widget(form.advert_change_user, {'attr': {'class': 'form-control'}}) }}</div>
        {% else %}
        <div class="col-md-4 col-md-offset-2">{{ form_widget(form.advert_change_user, {'attr': {'class': 'form-control', 'style': 'display:none' }}) }}</div>
        {% endif %}
    </div>
    <br>
    <a href="##"><b>Данные продавца</b></a>
    <hr>
        <div class="row">
            <div class="col-md-2"><label>Имя продавца 1</label></div>
            <div class="col-md-4">{{ form_widget(form.advert_seller_name1, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="col-md-2"><label>Телефон 1</label></div>
            <div class="col-md-4">{{ form_widget(form.advert_seller_phone1, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Имя продавца 2</label></div>
            <div class="col-md-4">{{ form_widget(form.advert_seller_name2, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="col-md-2"><label>Телефон 2</label></div>
            <div class="col-md-4">{{ form_widget(form.advert_seller_phone2, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Имя продавца 3</label></div>
            <div class="col-md-4">{{ form_widget(form.advert_seller_name3, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="col-md-2"><label>Телефон 3</label></div>
            <div class="col-md-4">{{ form_widget(form.advert_seller_phone3, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>

    <br>
    <a href="##"><b>Характеристики</b></a>
    <hr>
        <div class="row">
            <div class="col-md-2"><label>Тип Объявления</label></div>
            <div class="col-md-2">{{ form_widget(form.advert_type, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Категория</label></div>
            <div class="col-md-2">{{ form_widget(form.advert_category, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Тип недвижимости</label></div>
            <div class="col-md-2">{{ form_widget(form.object_type, {'attr': {'class': 'form-control' }}) }}</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Эксклюзив</label></div>
            <div class="col-md-2">{{ form_widget(form.advert_exclusive, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Цена</label></div>
            <div class="col-md-2">{{ form_widget(form.advert_price, {'attr': {'class': 'form-control' }}) }}</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Общая площадь</label></div>
            <div class="col-md-2">{{ form_widget(form.object_common_area, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Жилая площадь</label></div>
            <div class="col-md-2">{{ form_widget(form.object_live_area, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Площадь кухни</label></div>
            <div class="col-md-2">{{ form_widget(form.object_kitchen_area, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Этаж</label></div>
            <div class="col-md-2">{{ form_widget(form.object_floor, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Этажей в доме</label></div>
            <div class="col-md-2">{{ form_widget(form.object_room_number, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Количество комнат</label></div>
            <div class="col-md-2">{{ form_widget(form.object_floors, {'attr': {'class': 'form-control' }}) }}</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Земельный участок</label></div>
            <div class="col-md-2">{{ form_widget(form.object_section_area, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="col-md-2"><label>Год постройки</label></div>
            <div class="col-md-2">{{ form_widget(form.object_build_year, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Цена за квадратный метр</label></div>
            <div class="col-md-2">{{ form_widget(form.advert_meter_price, {'attr': {'class': 'form-control', 'readonly': 'readonly' }}) }}</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Общее состояние</label></div>
            <div class="col-md-2">{{ form_widget(form.object_state, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Материал стен</label></div>
            <div class="col-md-2">{{ form_widget(form.object_wall, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Тип водоснабжения</label></div>
            <div class="col-md-2">{{ form_widget(form.object_water_supply, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Тип отопления</label></div>
            <div class="col-md-2">{{ form_widget(form.object_heating, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Балкон / лоджия</label></div>
            <div class="col-md-2">{{ form_widget(form.object_balcony, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Новостройка</label></div>
            <div class="col-md-2">{{ form_widget(form.object_new_house, {'attr': {'class': 'form-control' }}) }}</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Санузел</label></div>
            <div class="col-md-2">{{ form_widget(form.object_wc, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Ипотека</label></div>
            <div class="col-md-2">{{ form_widget(form.object_mortgage, {'attr': {'class': 'form-control' }}) }}</div>
        </div>

    <br>
    <a href="##"><b>Местоположение</b></a>
    <hr>
        <div class="row">
            <div class="col-md-2"><label>Город</label></div>
            <div class="col-md-2">{{ form_widget(form.object_city, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Район города</label></div>
            <div class="col-md-2">
                {% for id,city in regionsCity %}
                    <select class="form-control region_city" id="region_city_{{ id }}" {% if id != advert.object.city.id %}style="display: none;"{% endif %}>
                        {% for key,name in city %}
                            <option value="{{ key }}" {% if key == advert.object.regionCity.id %} selected {% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Улица</label></div>
            <div class="col-md-2">{{ form_widget(form.object_street, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Номер дома</label></div>
            <div class="col-md-2">{{ form_widget(form.object_house, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><label>Квартира</label></div>
            <div class="col-md-2">{{ form_widget(form.object_flat, {'attr': {'class': 'form-control' }}) }}</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Ориентир</label></div>
            <div class="col-md-10">{{ form_widget(form.object_landmark, {'attr': {'class': 'form-control' }}) }}</div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <div id="map_canvas" style="height: 300px">Карта</div>
            </div>
        </div>

    <br>
    <a href="##"><b>Фотографии</b></a>
    <hr>
        <div class="row">
            <div class="col-md-1">
                {{ form_widget(form.advert_image) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for img in advert.getImg %}
                    <div style="margin-right: 20px; float: left; margin-top: 20px;" id="photo_{{ img.id }}">
                        <a href="##" class="photo img-responsive text-center" data-path="{{ img.getWebPath }}"
                           style="float:left"><img src="{{ asset( img.getMiniWebPath ) }}" class="img" style="max-width: 150px; max-height: 150px; float: left; border-radius: 10px;"></a>
                        <a href="##" style="float:right" class="photo_delete" data-id="{{ img.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                {% endfor %}
            </div>
        </div>

    <br>
    <a href="##"><b>Описание</b></a>
    <hr>
        <div class="row">
            <div class="col-md-2"><label>Описание</label></div>
            <div class="col-md-10">{{ form_widget(form.description_description, {'attr': {'class': 'form-control' }} ) }}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2"><label>Комментарии</label></div>
            <div class="col-md-10">{{ form_widget(form.description_comment, {'attr': {'class': 'form-control' }} ) }}
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row">
            <div class="col-md-3"><label>Пользователь</label></div>
            <div class="col-md-3"><label>Время создания</label></div>
            <div class="col-md-3"><label>Время обновления</label></div>
            <div class="col-md-3"><label>Время окончания</label></div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-3">{{ advert.user.lastName }} {{ advert.user.firstName }} {{ advert.user.middleName }}</div>
            <div class="col-md-3"> {% if null != advert.createTime %}{{ advert.createTime|date("d.m.Y") }}{% endif %}</div>
            <div class="col-md-3"> {% if null != advert.updateTime %}{{ advert.updateTime|date("d.m.Y") }}{% endif %}</div>
            <div class="col-md-3"> {% if null != advert.expireTime %}{{ advert.expireTime|date("d.m.Y") }}{% endif %}</div>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
    <div class="col-md-2"><button type="button" class="btn btn-success btn-width" id="submit_button">Сохранить</button></div>
    </div>

    {{ form_widget(form.advert_image_delete, {'attr': {'class': 'form-control', 'style': 'display: none;'  }} ) }}
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success', 'style': 'display: none;' }}) }}
    {{ form_end(form) }}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Просмотр изображения</h4>
                </div>
                <div class="modal-body img-responsive text-center">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>
        function initialize() {
            var address = 'Россия Ростовская область город ' +  $('#editAdvert_object_city option:selected').text() + ' улица ' + $('#editAdvert_object_street').val() + ' дом ' + $('#editAdvert_object_house').val();
            $.ajax({
                method: 'GET',
                url: 'http://maps.googleapis.com/maps/api/geocode/json',
                dataType : 'json',
                data: {
                    address: address,
                    sensor: false,
                    language: 'ru'
                },
                success: function (data, textStatus) {
                    var myLatlng = new google.maps.LatLng(data['results'][0]['geometry']['location']['lat'],data['results'][0]['geometry']['location']['lng']);
                    var myOptions = {
                        zoom: 17,
                        center: myLatlng,
                        scrollwheel: false,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: address
                    });
                }
            });
        }

        initialize();

        $(function () {

            $('.photo').click(function(){
                $('#myModal .modal-body').html("<img src='{{ app.request.baseurl }}/../" + $(this).data('path') + "'  style='max-width:850px; max-height:600px;'>");
                $('#myModal').modal();
            });

            var delete_img_form = $('#editAdvert_advert_image_delete');

            $('.photo_delete').click(function(){
                console.info('delete');
                var id = $(this).data('id');
                $('#photo_' + id).hide('slow');
                var input = '<input type="checkbox" id="editAdvert_advert_image_delete_' + id + '"  name="editAdvert[advert_image_delete][' + id + ']" value="1" checked="checked">';
                delete_img_form.append(input);
            });

            var submit = $('#editAdvert_submit');
            var submit_button = $('#submit_button');
            var region_city = $('#editAdvert_object_region_city');

            var select_city = $('#editAdvert_object_city');
            select_city.change(function(){
                $('.region_city').hide();
                $('#region_city_' + select_city.val()).show();
            });

            submit_button.click(function(){
                var val = $('.region_city:visible').val();
                region_city.val(val);
                submit.click();
            });

            var advert_meter_price =  $( "#editAdvert_advert_meter_price");
            var advert_price =  $( "#editAdvert_advert_price");
            var object_common_area =  $( "#editAdvert_object_common_area");

            object_common_area.on('keyup', function(){
                mathMeterPrice(object_common_area, advert_price, advert_meter_price);
            });
            advert_price.on('keyup', function(){
                mathMeterPrice(object_common_area, advert_price, advert_meter_price);
            });

            var add_img = $('#add_img');
            var count = 0;
            add_img.click(function(){
                if(count <= 10) {
                    var img = '<input type="file" id="editAdvert_advert_image_' + count +'_file" name="editAdvert[advert_image][' + count +'][file]" class="btn">';
                    images.append(img);
                    count++;
                }
            });

            $('#editAdvert_advert_price').on('keyup', function(){
                myPriceFormat($(this));
            });

            myPriceFormat($('#editAdvert_advert_price'));
            myPriceFormat($('#editAdvert_advert_meter_price'));
        });
    </script>
{% endblock %}
