{% extends "MrsuhRealEstateBundle::layout.html.twig" %}
{% block content %}

    {{ form_start(form) }}

    <div class="regular_search">
        <div class="row">
            <div class="col-md-2">{{ form_widget(form.search_string_type, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-4">{{ form_widget(form.search_string_string, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2"><button type="button" class="btn btn-success btn-width" id="submit_search_string">Поиск</button></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_widget(form.advert_type, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2">{{ form_widget(form.advert_user, {'attr': {'class': 'form-control' }}) }}</div>
            <div class="col-md-2">{{ form_widget(form.advert_status, {'attr': {'class': 'form-control' }}) }}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6"><a href="##" id="extension_button">Расширенный поиск</a></div>
        <div class="col-md-2 col-md-offset-4">{{ form_widget(form.pagination_items_on_page, {'attr': {'class': 'form-control' }} ) }}</div>
    </div>

    <div id="extension_search" hidden="true">
        <br>
        <div class="row">
            <div class="col-md-2">

                <div class="row">
                    <div class="col-md-12"><label>Тип объекта</label></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% for form in form.object_type %}
                            {{ form_widget(form) }}
                            {{ form_label(form) }}<br>
                        {% endfor %}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12"><label>Состояние объекта</label></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% for form in form.object_state %}
                            {{ form_widget(form) }}
                            {{ form_label(form) }}<br>
                        {% endfor %}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12"><label>Материал стен дома</label></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% for form in form.object_wall %}
                            {{ form_widget(form) }}
                            {{ form_label(form) }}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4"><label>Цена</label></div>
                    <div class="col-md-4">{{ form_widget(form.price_from, {'attr': {'class': 'form-control' }}) }}</div>
                    <div class="col-md-4">{{ form_widget(form.price_to, {'attr': {'class': 'form-control' }}) }}</div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Стоимость квадратного метра</label></div>
                    <div class="col-md-4">{{ form_widget(form.meter_price_from, {'attr': {'class': 'form-control date' }}) }}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.meter_price_to, {'attr': {'class': 'form-control date' }})}}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Число комнат</label></div>
                    <div class="col-md-4">{{ form_widget(form.room_from, {'attr': {'class': 'form-control date' }}) }}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.room_to, {'attr': {'class': 'form-control date' }}) }}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Общая площадь</label></div>
                    <div class="col-md-4">{{ form_widget(form.common_area_from, {'attr': {'class': 'form-control date' }}) }}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.common_area_to, {'attr': {'class': 'form-control date' }})}}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Жилая площадь</label></div>
                    <div class="col-md-4">{{ form_widget(form.live_area_from, {'attr': {'class': 'form-control date' }})}}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.live_area_to, {'attr': {'class': 'form-control date' }})}}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Площадть кухни</label></div>
                    <div class="col-md-4">{{ form_widget(form.kitchen_area_from, {'attr': {'class': 'form-control date' }}) }}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.kitchen_area_to, {'attr': {'class': 'form-control date' }})}}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Земельный участок</label></div>
                    <div class="col-md-4">{{ form_widget(form.section_area_from, {'attr': {'class': 'form-control' }}) }}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.section_area_to, {'attr': {'class': 'form-control' }})}}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Этаж</label></div>
                    <div class="col-md-4">{{ form_widget(form.floor_from, {'attr': {'class': 'form-control date' }})}}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.floor_to, {'attr': {'class': 'form-control date' }}) }}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Количество этажей</label></div>
                    <div class="col-md-4">{{ form_widget(form.floors_from, {'attr': {'class': 'form-control date' }})}}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.floors_to, {'attr': {'class': 'form-control date' }}) }}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4"><label>Год постройки</label></div>
                    <div class="col-md-4">{{ form_widget(form.build_year_from, {'attr': {'class': 'form-control date' }})}}
                    </div>
                    <div class="col-md-4">{{ form_widget(form.build_year_to, {'attr': {'class': 'form-control date' }})}}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1">{{ form_widget(form.not_first_floor) }}</div>
                    <div class="col-md-5"><label>Не первый этаж</label></div>
                    <div class="col-md-1">{{ form_widget(form.not_last_floor) }}</div>
                    <div class="col-md-5"><label>Не последний этаж</label></div>
                </div>
                <br>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-8">{{ form_widget(form.object_region, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-8">{{ form_widget(form.object_city, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-8"><label>Регион города</label></div>
                    <div id="findAdvert_object_region_city"></div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        {% for id,city in regionsCity %}
                            <div class="region_city" id="region_city_{{ id }}" style="display: none;">
                                {% for key,name in city %}
                                    <input type="checkbox" id="findAdvert_object_region_city_{{ key }}" name="findAdvert[object_region_city][{{ key }}]"  value={{ key }}> <label for="findAdvert_object_region_city_{{ key }}" >{{ name }}</label><br>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>

        </div>
        <br>
        <button type="button" class="btn btn-success btn-width" id="submit_search_extension">Поиск</button>
    </div>
    <hr>
    {{ form_widget(form.search, {'attr': {'hidden': 'true' }} ) }}
    {% do form.object_region_city.setRendered %}
    {{ form_end(form) }}

    {% include "MrsuhRealEstateBundle::Advert/list.html.twig" %}

{% endblock %}

{% block js %}
    <script>
        $(function () {
            var extension_button = $('#extension_button');
            var extension_search = $('#extension_search');

            var submit_search_extension = $('#submit_search_extension');
            var submit_search_string = $('#submit_search_string');


            var search_type = $('#findAdvert_search_type');

            var current_page = 1;
            var max_page = 1;

            var order_type = $('#findAdvert_order_type');
            var order_field = $('#findAdvert_order_field');

            var order_field_id = $('#order_field_id');
            var order_field_city = $('#order_field_city');
            var order_field_region = $('#order_field_region');
            var order_field_price = $('#order_field_price');
            var order_field_status = $('#order_field_status');
            var order_field_create_time = $('#order_field_create_time');
            var order_field_update_time = $('#order_field_update_time');
            var order_field_expire_time= $('#order_field_expire_time');

            var order_type_asc = '{{ constant('Mrsuh\\RealEstateBundle\\C::ORDER_TYPE_ASC') }}';
            var order_type_desc = '{{ constant('Mrsuh\\RealEstateBundle\\C::ORDER_TYPE_DESC') }}';


            var region_city = $('#findAdvert_object_region_city');

            var select_city = $('#findAdvert_object_city');
            select_city.change(function(){
                set_region_city();
            });

            var set_region_city = function()
            {
                $('.region_city').hide();
                $('#region_city_' + select_city.val()).show();
            };

            set_region_city();


            var submit_click = function(type){
                if(type) {
                    setOrderType(type);
                    order_field.val(type);
                }

                region_city.html($('.region_city:visible input'));
                search_submit.click();
            };

            var setOrderType = function(field){
                if(field === order_field.val()) {
                    if(order_type_asc === order_type.val()){
                        order_type.val(order_type_desc);
                    } else {
                        order_type.val(order_type_asc);
                    }
                } else {
                    order_type.val(order_type_asc);
                }
            };

            var orderFields = function()
            {
                order_field_id.click(function(){
                    submit_click('id');
                });

                order_field_city.click(function(){
                    submit_click('city');
                });

                order_field_region.click(function(){
                    submit_click('region');
                });

                order_field_price.click(function(){
                    submit_click('price');
                });

                order_field_status.click(function(){
                    submit_click('status');
                });

                order_field_create_time.click(function(){
                    submit_click('create_time');
                });

                order_field_update_time.click(function(){
                    submit_click('update_time');
                });

                order_field_expire_time.click(function(){
                    submit_click('expire_time');
                });
            };

            orderFields();


            {% if pagination %}
            current_page = {{ pagination.getPaginationData.current }};
            max_page = {{ pagination.getPaginationData.pageCount }};
            {% endif %}


            var pagination_start = $('#pagination_start');
            var pagination_previous = $('#pagination_previous');
            var pagination_next = $('#pagination_next');
            var pagination_fin = $('#pagination_fin');

            var search_submit = $('#findAdvert_search');

            var pagination_page = $('#findAdvert_pagination_page');

            var pagination_items_on_page = $('#findAdvert_pagination_items_on_page');

            pagination_items_on_page.change(function(){
                pagination_page.val(1);
                search_submit.click();
            });

            submit_search_extension.click(function()
            {
                search_type.val('{{ constant('Mrsuh\\RealEstateBundle\\C::SEARCH_EXTENSION') }}');
                submit_click();
            });

            submit_search_string.click(function()
            {
                search_type.val('{{ constant('Mrsuh\\RealEstateBundle\\C::SEARCH_STRING') }}');
                submit_click();
            });


            var pagination = function ()
            {
                pagination_next.click(function(){
                    var page = max_page;
                    if(++current_page <= max_page) {
                        page = current_page;
                    }

                    pagination_page.val(page);
                    submit_click();
                });

                pagination_previous.click(function(){
                    var page = 1;
                    if(--current_page >= 1) {
                        page = current_page;
                    }

                    pagination_page.val(page);
                    submit_click();
                });

                pagination_start.click(function(){
                    pagination_page.val(1);
                    submit_click();
                });

                pagination_fin.click(function(){
                    pagination_page.val(max_page);
                    submit_click();
                });

            };

            pagination();

            extension_button.click(function () {
                if (extension_search.is(':hidden')) {
                    extension_search.show('slow')
                } else {
                    extension_search.hide('slow')
                }
            });
        });
    </script>

{% endblock %}