{% extends "MrsuhRealEstateBundle::layout.html.twig" %}
{% block content %}


    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-2"><label>Цена</label></div>
        <div class="col-md-4">{{ form_widget(form.price_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.price_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Стоимость квадратного метра</label></div>
        <div class="col-md-4">{{ form_widget(form.meter_price_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.meter_price_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Число комнат</label></div>
        <div class="col-md-4">{{ form_widget(form.room_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.room_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Общая площадь</label></div>
        <div class="col-md-4">{{ form_widget(form.common_area_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.common_area_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Жилая площадь</label></div>
        <div class="col-md-4">{{ form_widget(form.live_area_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.live_area_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Площадть кухни</label></div>
        <div class="col-md-4">{{ form_widget(form.kitchen_area_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.kitchen_area_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Земельный участок</label></div>
        <div class="col-md-4">{{ form_widget(form.section_area_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.section_area_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Этаж</label></div>
        <div class="col-md-4">{{ form_widget(form.floor_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.floor_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Количество этажей</label></div>
        <div class="col-md-4">{{ form_widget(form.floors_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.floors_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"><label>Год постройки</label></div>
        <div class="col-md-4">{{ form_widget(form.build_year_from, {'attr': {'class': 'form-control date' }}) }}</div>
        <div class="col-md-2"><label></label></div>
        <div class="col-md-4">{{ form_widget(form.build_year_to, {'attr': {'class': 'form-control date' }}) }}</div>
    </div>
    <br>

    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success' }}) }}

    {{ form_end(form) }}
    <br>

    <table class="table table-bordered">
        <tr>
            <td>id</td>
            <td>тип объекта</td>
            <td>Город Район Адрес Описание</td>
            <td>Площадь</td>
            <td>Цена</td>
            <td>Активное</td>
            <td>Создано Обновлено Истекает</td>
        </tr>
        {% for advert in adverts %}
            <tr>
                <td><a href="{{ url('edit_advert', { 'id': advert.id }) }}">{{ advert.id }}</a></td>
                <td>{{ advert.object.type.name }}</td>
                <td>{{ advert.object.city.name }}</td>
                <td>{{ advert.object.commonArea }}</td>
                <td>{{ advert.price }}</td>
                <td>{{ advert.status }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}