{% extends "MrsuhRealEstateBundle::layout.html.twig" %}
{% block content %}

    <table class="table table-bordered">
        <tr class="text-center">
            <td>id</td>
            <td>Фото</td>
            <td>Тип объекта</td>
            <td>
                Город
                Район
                Адрес
                Описание
            </td>
            <td>Площадь</td>
            <td>Цена</td>
            <td>Состояние</td>
            <td>
                Создано
                Обновлено
                Истекает
            </td>
        </tr>
        {% for advert in adverts %}
            {% if constant('Mrsuh\\RealEstateBundle\\C::STATUS_ADVERT_ACTIVE') == advert.status %}
            <tr class="success">
                {% elseif constant('Mrsuh\\RealEstateBundle\\C::STATUS_ADVERT_REQUEST_DELETE') == advert.status %}
        <tr class="danger">
                {% elseif constant('Mrsuh\\RealEstateBundle\\C::STATUS_ADVERT_DELETED') == advert.status %}
        <tr class="danger">
                {% elseif constant('Mrsuh\\RealEstateBundle\\C::STATUS_ADVERT_AGENT') == advert.status %}
        <tr class="warning">
                {% else %}
        <tr>
        {% endif %}

                <td class="text-center"><a href="{{ url('advert', { 'id': advert.id }) }}">{{ advert.id }}</a></td>
                <td class="img-responsive center-block">
                    <a href="{{ url('advert', { 'id': advert.id }) }}"><img src="{{ asset( advert.getImg[0].getMiniWebPath ) }}" style="max-width: 100px; max-height: 100px"></a>
                </td>
                <td class="text-center">
                    {% if constant('Mrsuh\\RealEstateBundle\\C::OBJECT_TYPE_HOUSE') == advert.object.type.name %}
                        {% if advert.object.roomNumber %} {{ advert.object.roomNumber }} -к {% endif %}
                         {{ advert.object.type.name }}<br>
                        {{ advert.object.floor }} / {{ advert.object.floors }} -эт.  {{ advert.object.wall.name }} Дом
                    {% elseif constant('Mrsuh\\RealEstateBundle\\C::OBJECT_TYPE_EARTH_AREA') == advert.object.type.name %}
                        {{ advert.object.type.name }}
                    {% elseif constant('Mrsuh\\RealEstateBundle\\C::OBJECT_TYPE_FLAT') == advert.object.type.name %}
                        {{ advert.object.type.name }}
                    {% elseif constant('Mrsuh\\RealEstateBundle\\C::OBJECT_TYPE_COMMERCE') == advert.object.type.name %}
                        {{ advert.object.type.name }}
                    {% elseif constant('Mrsuh\\RealEstateBundle\\C::OBJECT_TYPE_ROOM') == advert.object.type.name %}
                        {{ advert.object.type.name }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ advert.object.city.name }},{{ advert.object.regionCity.name }},<br>
                    {{ advert.object.street.name }} ул {% if advert.object.house %},{{ advert.object.house }}{% endif %}

                </td>
                <td class="text-center">
                    {{ advert.object.commonArea }} / {{ advert.object.liveArea }} / {{ advert.object.kitchenArea }} м<sup>2</sup>
                </td>
                <td class="text-center">
                    <div class="row">
                        <div class="col-md-12">
                            {{ advert.price }} р
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            ({{ advert.meterPrice }} р/м<sup>2</sup>)
                        </div>
                    </div>
                </td>
                <td class="text-center">
            {% if constant('Mrsuh\\RealEstateBundle\\C::STATUS_ADVERT_ACTIVE') == advert.status %}
               активное
            {% elseif constant('Mrsuh\\RealEstateBundle\\C::STATUS_ADVERT_REQUEST_DELETE') == advert.status %}
                запрос<br>
                на удаление
            {% elseif constant('Mrsuh\\RealEstateBundle\\C::STATUS_ADVERT_DELETED') == advert.status %}
                удалено
            {% elseif constant('Mrsuh\\RealEstateBundle\\C::STATUS_ADVERT_AGENT') == advert.status %}
               агент
            {% endif %}
                </td>
                <td class="text-center">
                    <div class="row">
                        <div class="col-md-12">
                            {{ advert.user.lastName}} {{ advert.user.firstName}} {{ advert.user.middleName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>Истекает:</b> {{ advert.expireTime|date("d.m.Y") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>Обновлено:</b> {{ advert.updateTime|date("d.m.Y") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>Создано:</b> {{ advert.createTime|date("d.m.Y") }}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            var extension_button = $('#extension_button');
            var extension_search = $('#extension_search');
            var period_from = $('#findAdvert_period_from');
            var period_to = $('#findAdvert_period_to');

            extension_button.click(function () {
                if (extension_search.is(':hidden')) {
                    extension_search.show('slow')
                } else {
                    extension_search.hide('slow')
                }
            });

            period_from.datepicker({ dateFormat: 'dd.mm.yy' });
            period_to.datepicker({ dateFormat: 'dd.mm.yy' });
        });
    </script>

{% endblock %}